// Заголовки, загальні БЕМ блоки та інше...
//Animate========================================================================================================================================================
%animate {
   transform: translate(0, -30px);
   opacity: 0;
   &._watcher-view {
      transform: translate(0, 0);
      opacity: 1;
      transition: all 0.6s ease 0s;
   }
}
%animateTwo {
   transform: translate(0, -30px);
   opacity: 0;
   &._watcher-view {
      transform: translate(0, 0);
      opacity: 1;
      @for $var from 1 to 50 {
         $delay: $var * 0.1;
         &:nth-child(#{$var}) {
            @if $var == 1 {
               transition: all 0.6s ease 0s;
            } @else {
               transition: all 0.6s ease #{$delay + s};
            }
         }
      }
   }
}
//Block-Text========================================================================================================================================================
.block-text {
   // .block-text__title
   &__title {
      @include adaptiveValue("font-size", 40, 26);
      font-weight: 600;
      line-height: math.div(55, 40);
      opacity: 0;
      transform: translate(0, -30px);
      &._watcher-view {
         opacity: 1;
         transform: translate(0, 0);
         transition: all 1.5s ease 0s;
      }
   }

   // .block-text__text
   &__text {
      line-height: math.div(24, 16);
      opacity: 0;
      transform: translate(0, -30px);
      &._watcher-view {
         opacity: 1;
         transform: translate(0, 0);
         transition: all 1.5s ease 0.1s;
      }
   }
}
//Button========================================================================================================================================================
.button {
   @include adaptiveValue("font-size", 17, 16);
   font-weight: 700;
   letter-spacing: em(0.17,17);
   display: inline-block;
   text-align: center;
   color: #fff;
   background-color: $orangeColor;
   transition: all 0.3s;
   border-radius: rem(5);
   &:hover{
      background-color: #ca574a;
   }
}
//========================================================================================================================================================

//========================================================================================================================================================

//========================================================================================================================================================

//========================================================================================================================================================

//========================================================================================================================================================

//========================================================================================================================================================

//========================================================================================================================================================

//========================================================================================================================================================
